modules = ["postgresql-16", "nodejs-24"]
[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PUBLIC_BETA_MODE = "true"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
